html {
    height: 100%;
}

body > #root > div {
    min-height: 100vh;
}

.is-fullheight {
    height: calc(100vh - (3.25rem - .75rem));
}

.card-footer-right {
    justify-content: flex-end !important;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.5em;
}

.trena-card {
    height: max-content;
}

.trena-blur{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}