VITE_REACT_APP_ENVIRONMENT=development
VITE_REACT_APP_BASE_URL=http://0.0.0.0:8000
VITE_REACT_APP_SENTRY_DNS=<SENTRY_KEY>
VITE_REACT_APP_API_KEY=<API_KEY>
VITE_ADMIN_USERNAME=<ADMIN_USERNAME>
VITE_ADMIN_PASSWORD=<ADMIN_PASSWORD>
VITE_PUBLIC_URL=<PUBLIC_TRENA_URL>